Source: nightfox.nvim
Section: editors
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-vim-addon,
Standards-Version: 4.6.2
Homepage: https://github.com/EdenEast/nightfox.nvim
Vcs-Browser: https://github.com/dimitry-ishenko-neovim/nightfox.nvim
Vcs-Git: https://github.com/dimitry-ishenko-neovim/nightfox.nvim.git
Rules-Requires-Root: no

Package: neovim-nightfox
Architecture: all
Depends:
 ${misc:Depends},
 ${vim-addon:Depends},
 neovim (>= 0.8),
Description: NightFox theme for neovim
 A highly customizable theme for vim and neovim with support for LSP,
 tree-sitter and a variety of plugins.
